<template>
  <div class="vm-{{kebab-case_component_name}}-container">
    <!-- Write your component here -->
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component( { components: {} } )
export default class {{PascalCase_component_name}} extends Vue {}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
