import {{PascalCase_component_name}} from '{{{relative_path}}}/{{kebab-case_component_name}}/src/components/{{PascalCase_component_name}}.vue';

export default {
    title: '{{{groupPath}}}/{{PascalCase_component_name}}',    // Path to the component
    component: {{PascalCase_component_name}},        // Main component
    subcomponents: {},
    argTypes: {}
}

const Template = (args, { argTypes }) => ({
components: { {{PascalCase_component_name}} },
props: Object.keys(argTypes),
template:`<{{kebab-case_component_name}} v-bind="$props" />`,
});

export const Primary = Template.bind( {} );
